<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form action="/" method="GET">
    <input name="city" placeholder="Enter a city name" required>
    <input type="submit" value="Get Forecast">
</form>

{{#if forecast}}
<div>
    <h1>Current weather is:</h1>

    <h3>Temperature: {{forecast.current.temp}} C</h3>
    <p>{{forecast.current.weather.0.description}}</p>
</div>

<h1>Overcast throughout the day</h1>
<div class="hourly">
    {{#each hourly}}
    <ul class="hourly-style">

        <li>{{displayTime}}</li>
        <li>{{temp}} C</li>
        <li>
            <h3>{{weather.0.description}}</h3>
        </li>

    </ul> {{/each}}
</div>

{{/if}}